.body-container {
    display: flex;
    justify-content: center;
    padding: 0 16px; 

}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1440px; 
    width: 100%;
    margin: 0 auto; 
    padding-top: 140px;
}

.product-container {
    padding-left: 32px;
    padding-right: 32px;
    flex: 1; 
}

.product-container-body {
    display: flex;
    flex-direction: row;
    gap: 32px;
    flex-wrap: wrap; 
}

.product-container-objects {
    display: flex;
    gap: 16px;
}

.card-warning {
    width: 80vw;
    max-width: 1440px;
}

.card-header-warning {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 850px) {
    .product-container {
        flex-direction: column;
        padding: 0; 
    }
    
    .main-container {
        flex-direction: column;
    }
}
